@import url("https://use.typekit.net/dvz3cpj.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  --base-color: #fff;
  --base-color-dark: #011F26;
  --links: #F2668B;
  --text: #000;
}

html[data-theme='dark'] {
  --base-color: #011F26;
  --base-color-dark: #fff;
  --links: #03A688;
  --text: #fff;
}

body {
  margin: 1rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 1366px;
  margin: auto;
  font-family: calder-lc, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("uploads/cultural.png");
  background-size: contain;
  background-color: var(--base-color);
  color: var(--text);
}

h1 {
  font-family: calder-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--base-color-dark);
}

h2 {
  font-family: calder-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  color: var(--base-color-dark);
}

h3 {
  font-family: calder-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--base-color-dark);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 1366px;
  height: 80px;
  background-color: var(--base-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 1rem;
}

.navigation a {
  margin: 1rem;
  padding-right: 2rem;
  text-decoration: none;
  font-family: calder-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.mode-changer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-size: 28px;
  color: var(--links);
  padding: 1rem 2rem 1rem 1rem;
}

.mode-changer i {
  padding: 1rem 2rem 0.5rem 1rem;
}

.mode-changer input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.mode-changer label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: var(--links);
  display: block;
  border-radius: 100px;
  position: relative;
}

.mode-changer label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: var(--base-color);
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mode-changer input:checked + label {
  background: var(--links);
}

.mode-changer input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mode-changer label:active:after {
  width: 30px;
}

.container {
  min-height: 400px;
}

.hero {
  margin-top: 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}

.hero h1 {
  font-size: 48px;
}

.about-us {
  background-color: var(--base-color);
  padding: 2rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

.gallery .card {
  color: var(--links);
  padding: 1rem;
  font-size: 28px;
}

.gallery .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-us {
  padding-top: 8rem;
}

.contact-us .contact-info {
  background-color: var(--base-color);
  padding: 2rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 1366px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

@media only screen and (max-width: 1200px) {
  body {
    max-width: 1100px;
  }
  header {
    max-width: 1100px;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    max-width: 1100px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }
  header {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .navigation {
    width: 100%;
  }
  .mode-changer .switch {
    margin-right: 4rem;
  }
  footer {
    max-width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */