@import url("https://use.typekit.net/dvz3cpj.css");

html {
    box-sizing: border-box;
    overflow-x: hidden;
    --base-color: #fff;
    --base-color-dark: #011F26;
    --links: #F2668B;
    --links-two: #03A688;
    --accent-one: #025E73;
    --accent-two: #026873;
    --text: #000;
}

html[data-theme='dark'] {
    --base-color: #011F26;
    --base-color-dark: #fff;
    --links: #03A688;
    --links-two: #F2668B;
    --accent-one: #025E73;
    --accent-two: #026873;
    --text: #fff;
 }

body {
    margin: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1366px;
    margin: auto;
    font-family: calder-lc, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("uploads/cultural.png");
    background-size: contain;
    background-color: var(--base-color);
    color: var(--text);
}


h1 {
    font-family: calder-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--base-color-dark);
}

h2 {
    font-family: calder-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    color: var(--base-color-dark);
}

h3 {
    font-family: calder-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--links);
}
a:hover {
    color:var(--base-color-dark);
}


header {
    display: flex;
    position: fixed;
    z-index: 999;
    top:0;
    width: 1366px;
    height: 80px;
    background-color: var(--base-color);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 1rem;
    a {
        margin: 1rem;
        padding-right: 2rem;
            text-decoration: none;
            font-family: calder-shadow, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
    }
}

.mode-changer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-size: 28px;
    color: var(--links);
    padding: 1rem 2rem 1rem 1rem;
    i {
        padding: 1rem 2rem 0.5rem 1rem;
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 60px;
        height: 30px;
        background: var(--links);
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: var(--base-color);
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: var(--links-two);
    }
    
    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }
    
    label:active:after {
        width: 30px;
    }
}

.container{
    min-height: 400px;
}

.hero {
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    h1 {
        font-size: 48px;
    }
}

.about-us {
    background-color: var(--base-color);
    padding: 2rem;
}

.gallery {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    // grid-gap: 20px;
    display: flex;
    flex-direction: row;
    // width: 1366px;
    margin: auto;
    .card {
        // display: grid;
        // grid-template-rows: max-content 200px 1fr;
        // color: var(--links);
        padding: 1rem;
        font-size: 28px;
    }
    .card img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.contact-us {
    padding-top: 8rem;
    .contact-info {
        background-color: var(--base-color);
        padding: 2rem;
    }
}

footer {
    position:relative;
    bottom:0;
    width: 1366px;
    margin: auto;
    text-align: center;
    padding: 2rem;
    color: var(--accent-one);
}

@media only screen and (max-width: 1200px) {
    body {
        max-width: 1100px;
    }
    header {
        max-width: 1100px;
    }
    .gallery {
        flex-direction: column;
    }
    footer {
        max-width: 1100px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }
    header {
        max-width: 100%;
        flex-direction: column;
        height: auto;

    }
    .navigation {
        width: 100%;
    }
    .mode-changer {
        .switch {
            margin-right: 4rem;;
        }
    }
    footer {
        max-width: 500px;
    }
}