@import url("https://use.typekit.net/dvz3cpj.css");

$base-color: #011F26;
$pink: #F2668B;
$green: #03A688;
$accent-one: #025E73;
$accent-two: #026873;
$black: #000;
$white: #fff;

// $themes: (
//         $light-theme: (
//                 $primary-color-dark: #303F9F,
//                 $primary-color: #3F51B5,
//                 $primary-color-light: #DFDFF1,
//                 $primary-color-text: #FFFFFF,
//                 $accent-color: #0F67FF,
//                 $primary-text-color: #151515,
//                 $secondary-text-color: #575757,
//                 $divider-color: #BDBDBD,
//                 $general-background: #FAFAFA,
//                 $general-background-light: #FFFFFF,
//           /* ...other color keys with HEX values... */
//         ),
//         $dark-theme: (
//                 $primary-color-dark: #303F9F,
//                 $primary-color: #3F51B5,
//                 $primary-color-light: #DFDFF1,
//                 $primary-color-text: #FFFFFF,
//                 $accent-color: #4fA7ff,
//                 $primary-text-color: #d7d7d8,
//                 $secondary-text-color: #A6A6A6,
//                 $divider-color: #575757,
//                 $general-background: #181918,
//                 $general-background-light: #363636,
//           /* ...other color keys with HEX values... */
//         )
// );

html {
    box-sizing: border-box;
    overflow-x: hidden;
    $bg: $white;
    $link-color: $pink;
    $link-hover: $base-color;
    $heading-color:$base-color;
    $body-text: $black;
    $ard-heading: $pink;
    $icon-color: $pink;
}

// html[data-theme='dark'] {
//     background: $base-color;
//    --lightBtn: #FFBD07;
//    --lightBg: #232323;
//    --lightColor: #fff;
//  }

body {
    margin: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1366px;
    margin: auto;
    font-family: calder-lc, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("uploads/cultural.png");
    background-size: contain;
}


h1 {
    font-family: calder-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $base-color;
}

h2 {
    font-family: calder-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    color: $base-color;
}

h3 {
    font-family: calder-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: $pink;
}
a:hover {
    color:$base-color;
}


header {
    display: flex;
    position: fixed;
    z-index: 999;
    top:0;
    width: 1366px;
    height: 80px;
    background-color: $white;
    padding: 1rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    a {
        margin: 1rem;
        padding-right: 2rem;
            text-decoration: none;
            font-family: calder-shadow, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
    }
}

.mode-changer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-size: 28px;
    color: $pink;
    i {
        padding: 1rem;
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 60px;
        height: 30px;
        background: $pink;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: $green;
    }
    
    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }
    
    label:active:after {
        width: 30px;
    }
    
    // centering
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.container{
    min-height: 400px;
}

.hero {
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    h1 {
        font-size: 48px;
    }
}

.about-us {
    background-color: $white;
    padding: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    width: 1366px;
    margin: auto;
    .card {
        display: grid;
        grid-template-rows: max-content 0px 1fr;
        color: $pink;
        font-size: 28px;
    }
    .card img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.contact-us {
    padding-top: 8rem;
    .contact-info {
        background-color: $white;
        padding: 2rem;
    }
}

footer {
    position:relative;
    bottom:0;
    width: 1366px;
    margin: auto;
    text-align: center;
    padding: 2rem;
    color: $accent-one;
}